<div class="relative p-4  max-h-screen  mx-auto">
 <!-- Modal content -->
 <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 h-full">
     <!-- Modal header -->
     <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
         <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Cart
         </h3>
         <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="select-modal">
             <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
             </svg>
             <span class="sr-only">Close modal</span>
         </button>
     </div>
     <!-- Modal body -->
     <div class="p-4 md:p-5 h-full flex flex-col">
         <p class="text-gray-500 dark:text-gray-400 mb-4">Select your desired position:</p>
         <!-- Contenedor con scroll -->
         <ul class="space-y-4 mb-4 overflow-y-auto  max-h-[30rem]">
          <!-- Itera sobre los productos del carrito -->
          @for (product of cart_Service.productsSignal(); track product.id) {
           <li class="relative">
            <a  class="flex items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
             <!-- Imagen con un tamaño más pequeño -->
             <img class="object-cover w-20 h-20 rounded-l-lg" [src]="product.image" alt="">
             <!-- Contenido del card -->
             <div class="flex  justify-between p-4 leading-normal w-full  custom-class-for-challenge">
                 <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">
                     {{ product.title |shortDescription }}
                 </h5>
                 <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                     {{ product.price*product.quantity|currency }}
                 </p>

 <div class="relative flex items-center max-w-[8rem]">
     <button (click)="onDeleteProduct(product)" type="button" id="decrement-button" data-input-counter-decrement="quantity-input" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
         <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
             <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
         </svg>
     </button>
     <input type="text" id="quantity-input" data-input-counter aria-describedby="helper-text-explanation" class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [(ngModel)]="product.quantity" required />
     <button (click)="onAddProduct(product)" type="button" id="increment-button" data-input-counter-increment="quantity-input" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
         <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
             <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
         </svg>
     </button>
 </div>


             </div>
             <!-- Botón de eliminar en la esquina derecha -->
             <button (click)="onDeleteProduct(product)" class="absolute right-2 top-2 text-red-500 hover:text-red-700">
                 <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                 </svg>
             </button>
         </a>
        </li>
          }
         </ul>
         <button class="text-white inline-flex w-full justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-auto">
             Next step
         </button>
     </div>
 </div>
</div>
